.images {
    margin: 20px 20px 60px 20px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px 5px  rgb(0, 0, 0);
    width: 184px;
    height: 184px;
}
.images:hover {
    transition-duration: 0.2s;
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 15px 1px rgb(255, 215, 115);
    border: 3px solid rgb(255, 196, 0);
 }
